<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Test | Insert</title>

  <!-- Bootstrap core CSS -->

  <link href="{{path}}admin/css/bootstrap.min.css" rel="stylesheet">

  <link href="{{path}}admin/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{path}}admin/css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{{path}}admin/css/custom.css" rel="stylesheet">
  <link href="{{path}}admin/css/login_embed_ht.css" rel="stylesheet">
  <link href="{{path}}admin/css/icheck/flat/green.css" rel="stylesheet">

  <link href="{{path}}admin/js/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
  <link href="{{path}}admin/js/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="{{path}}admin/js/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="{{path}}admin/js/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="{{path}}admin/js/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

  <script src="{{path}}admin/js/jquery.min.js"></script>
  <link rel="shortcut icon" href="https://static.esale.zing.vn/images/favicon.ico?v=20160622120611" />

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body class="nav-md">

  <div class="container body">


    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><img style="width: 80px; height: 40px;" src="{{path}}images/logo-esale.png">
                            </a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="{{path}}admin/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>Minh Vuong</h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              
              <ul class="nav side-menu" style="margin-top: 70px;">
                <li><a><i class="fa fa-home"></i> Test <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                          <li><a href="/input-insert">Insert</a>
                                          </li>
                                          <li><a href="#">Update</a>
                                          </li>
                                          <li><a href="#">Get</a>
                                          </li>
                                        </ul>
                                      </li>
              </ul>
            </div>
            

          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              
            </a>
             <a data-toggle="tooltip" data-placement="top" title="Logout" href="logout">
              
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="{{path}}admin/images/img.jpg" alt="">Minh Vuong
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  
                  <li><a href="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>
              
            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                    Thêm số lượng Record
                </h3>
            </div>
                 
            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

            

            <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="min-height: 800px;">
                  <form action="insert" method="get">
                    <input type="text" name="size" value="{{size}}">
                    
                    <button id="btnSub" class="" type="submit">Insert</button> 
                </form>
                    <h2>Kết quả: </h2> <h2 style="color: black">{{result}}</h2>
            </div>
          </div>
              
              
                  
                </div>
              </div>
              <!-- footer content -->
              <footer>
                <div class="copyright-info">
                  <p class="pull-right">Admin - Website hỗ trợ Esale</a>
                  </p>
                </div>
                <div class="clearfix"></div>
              </footer>
              <!-- /footer content -->

            </div>
            <!-- /page content -->
          </div>

        </div>

        <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
          </ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
        </div>
    
        <script type="text/javascript">
            function closeLogin(){
                var pageCh = document.getElementById('dialogLogin');
                pageCh.setAttribute("style", "display: none;");
            }
        </script>

        <script src="{{path}}admin/js/bootstrap.min.js"></script>

        <!-- bootstrap progress js -->
        <script src="{{path}}admin/js/progressbar/bootstrap-progressbar.min.js"></script>
        <script src="{{path}}admin/js/nicescroll/jquery.nicescroll.min.js"></script>
        <!-- icheck -->
        <script src="{{path}}admin/js/icheck/icheck.min.js"></script>

        <script src="{{path}}admin/js/custom.js"></script>


        <!-- Datatables -->
        <!-- <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script> -->

        <!-- Datatables-->
        <script src="{{path}}admin/js/datatables/jquery.dataTables.min.js"></script>
        <script src="{{path}}admin/js/datatables/dataTables.bootstrap.js"></script>
        <script src="{{path}}admin/js/datatables/dataTables.buttons.min.js"></script>
        <script src="{{path}}admin/js/datatables/buttons.bootstrap.min.js"></script>
        <script src="{{path}}admin/js/datatables/jszip.min.js"></script>
        <script src="{{path}}admin/js/datatables/pdfmake.min.js"></script>
        <script src="{{path}}admin/js/datatables/vfs_fonts.js"></script>
        <script src="{{path}}admin/js/datatables/buttons.html5.min.js"></script>
        <script src="{{path}}admin/js/datatables/buttons.print.min.js"></script>
        <script src="{{path}}admin/js/datatables/dataTables.fixedHeader.min.js"></script>
        <script src="{{path}}admin/js/datatables/dataTables.keyTable.min.js"></script>
        <script src="{{path}}admin/js/datatables/dataTables.responsive.min.js"></script>
        <script src="{{path}}admin/js/datatables/responsive.bootstrap.min.js"></script>
        <script src="{{path}}admin/js/datatables/dataTables.scroller.min.js"></script>


        <!-- pace -->
        <script src="{{path}}admin/js/pace/pace.min.js"></script>
        <script>
          var handleDataTableButtons = function() {
              "use strict";
              0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }],
                responsive: !0
              })
            },
            TableManageButtons = function() {
              "use strict";
              return {
                init: function() {
                  handleDataTableButtons()
                }
              }
            }();
        </script>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
              keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
              ajax: "js/datatables/json/scroller-demo.json",
              deferRender: true,
              scrollY: 380,
              scrollCollapse: true,
              scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
              fixedHeader: true
            });
          });
          TableManageButtons.init();
        </script>
        
        
        <script type="text/javascript">
            function update(id, status, role){
                var idE = document.getElementById('id'+id).innerHTML;
                var nameE = document.getElementById('name'+id).innerHTML;
                var statusE = document.getElementById('status'+id).innerHTML;
                var roleE = document.getElementById('role'+id).innerHTML;
                $('#idE').val(idE);
                $('#nameE').val(nameE);
                document.getElementById('s_status'+status).selected="true";
                document.getElementById('s_role'+role).selected="true";
                
                var btn = document.getElementById('updateA');
                btn.removeAttribute('disabled');
            }
        </script>
        <script type="text/javascript">
            function checkPass(input) {
                
            }
        </script>
        <script type="text/javascript">
            function checkPass1(input) {
                
            }
        </script>
        
        <script type="text/javascript">
            function checkPassC(input) {
                if (input.value != document.getElementById('passwordC').value) {
                    input.setCustomValidity('Password Must be Matching.');
                } else {
                    // input is valid -- reset the error message
                    input.setCustomValidity('');
                }
            }
        </script>
        <script>
        function validateForm() {
            
            var pass = document.getElementById('mk').value;
            var pass2 = document.getElementById('mk1').value;
            //alert(pass);
            //alert(pass2);
            if (pass != pass2) {
                //document.getElementById('mk1').setCustomValidity('Password Must be Matching.');
                $('#errorF').html('Password Must be Matching.');
                return false;
            }else{
                $('#errorF').html('');
            }
            return true;
        }
        </script>
        
</body>

</html>
