<html lang="en">
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Test | Success</title>

        <!-- Bootstrap core CSS -->

        <link type="text/css" href="{{path}}admin/css/bootstrap.min.css" rel="stylesheet">

        <link href="{{path}}admin/fonts/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{path}}admin/css/animate.min.css" rel="stylesheet">

        <!-- Custom styling plus plugins -->
        <link href="{{path}}admin/css/custom.css" rel="stylesheet">
        <link href="{{path}}admin/css/logo.css" rel="stylesheet">
        <link href="{{path}}admin/css/icheck/flat/green.css" rel="stylesheet">


        <script src="{{path}}admin/js/jquery.min.js"></script>
        <link rel="shortcut icon" href="https://static.esale.zing.vn/images/favicon.ico?v=20160622120611" />

    </head>

    <body style="background: #F7F7F7;">

        <div class="">
            <a class="hiddenanchor" id="toregister"></a> <a class="hiddenanchor"
                                                            id="tologin"></a>
           
            <div id="wrapper">
                <div id="login" class="animate form">
                    <section class="login_content"> 
                        <p style="color:red">{{errorL}}</p>
                        <h1>Thành công</h1>
                        <!-- form -->
                    </section>
                    <!-- content -->
                </div>
            </div>
        </div>

    </body>

</html>
